/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font settings */
/* Default font untuk body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Font untuk heading */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
